/* 
***************************
===========================
======= LOGIN MODAL =======
===========================
***************************
*/

.login-modal-overlay {
  position: fixed;
  visibility: hidden;
  place-items: center;
  background-color: var(--overlay-color);
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  opacity: 0;
}
.show-login-overlay {
  position: fixed;
  top: 0;
  right: 0;
  visibility: visible;
  width: 100vw;
  height: 100vh;
  opacity: 1;
}
.login-modal-outer-container{
  display: grid;
  place-items: center;
  visibility: hidden;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transform: scale(0);
  transform-origin: top right;
}
.show-login-modal{
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}
.login-modal-inner-container{
  position: relative;
  display: grid;
  place-items: center;
  background-color: var(--nav-color);
  width: 80%;
  max-width: 450px;
  height: 60%;
  min-height: 500px;
  border-radius: 3px;
  box-shadow: 0px 5px 15px var(--dark-shadow-color);
}
.login-close-btn{
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.login-close-btn svg {
  font-size: 1.5rem;
  color: var(--primary-color);
  transition: none;
}
.login-close-btn:hover svg{
  color: var(--secondary-color);
  transition: none;
}
.message-container {
  margin: 1rem 0;
  height: 2rem;
  width: 100%;
}
.message{
  width: 100%;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
}
.alert-success{
  background-color: #b4ffb4;
  color: var(--light-font-color);
}
.alert-failure{
  background-color: #f49aa3;
  color: var(--light-font-color);
}
.login-form{
  display: grid;
  grid-template-rows: 1fr;
  padding: 0 2rem;
  width: 100%;
}
.login-form h1{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.login-form label {
  padding: 0.5rem;
}
.login-form input {
  padding: 0.5rem;
  font-size: 0.875rem;
  border: 1px solid var(--dark-shadow-color);
  opacity: 0.8;
  border-radius: 3px;
}
.forgot-pw {
  font-size: 0.75rem;
  text-decoration: underline;
  color: var(--dark-font-color);
  text-align: end;
  margin-bottom: 1rem;
}
.forgot-pw:hover{
  opacity: 0.3;
}
.login-modal-redirect{
  color: var(--dark-hover-color);
  font-size: 0.875rem;
  margin: 0.5rem 0 1rem;
}
.login-modal-highlight{
  font-size: inherit;
  color: var(--login-highlight-color);
}
.login-modal-highlight:hover{
  color: var(--login-highlight-hover-color);
  background-color: var(--light-font-color);
}
.login-modal-btn{
  border: 1px solid;
  border-radius: 3px;
  margin: 0.125rem 0;
  padding: 0.5rem 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.875rem;
}
.login-submit{
  background-color: var(--secondary-color);
  color: var(--light-font-color);
}
.login-submit:hover{
  background-color: var(--secondary-hover-color);
}
.login-alternate{
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
}
.login-alternate p {
  font-size: 0.875rem;
  color: var(--light-font-color);
}
.login-alternate-logo{
  font-size: 0.875rem;
}
#google {
  background-color: #E34134;
  color: var(--light-font-color);
}
#google:hover{
  background-color: #e34034de;
}
/* 
***************************
===========================
===== LOGGED IN MODAL =====
===========================
***************************
*/
.loggedin-modal{
  position: fixed;
  display: block;
  visibility: hidden;
  z-index: 15;
  opacity: 0;
  transform: translateX(-100%) scale(0);
  transform-origin: top right;
}
.loggedin-modal:before{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  /* left: 50%; */
  right: 0;
  transform: translateX(-100%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--light-font-color);
}
.show-loggedin{
  visibility: visible;
  border: 1px solid var(--light-font-color);
  border-radius: 3px;
  opacity: 1;
  transform: translateX(-100%) translateY(10px) scale(1);
  z-index: 100;
}
.loggedin-modal-container{
  background-color: var(--nav-color);
  display: grid;
  place-items: center;
  box-shadow: 0px 5px 5px var(--light-shadow-color);
  border-radius: 3px;
  padding: 1rem;
  z-index: 12;
}
.divider{
  width: 100%;
  height: 1px;
  background-color: var(--light-shadow-color);
}
.loggedin-menu-btn{
  padding: 0.5rem 0;
  font-size: 0.875rem;
  color: var(--dark-font-color);
}
.loggedin-menu-btn:hover{
  color: var(--dark-hover-color);
}