/* 
***************************
===========================
======== PW RESET =========
===========================
***************************
*/

.pw-reset-page-container{
  width: 100vw;
  min-height: 60vh;
  display: grid;
  place-items: center;
}
.pw-reset-form{
  justify-self: center;
  display: grid;
  place-items: center;
  /* text-align: center; */
  width: 100%;
  max-width: 400px;
  margin: 4rem 0;
  padding: 3rem 2rem;
  border-radius: 3px;
  box-shadow: 0px 5px 15px var(--light-shadow-color);
  background-color: var(--nav-color);
}
.pw-reset-form h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.pw-reset-form label{
  color: var(--dark-font-color);
  margin-bottom: 0.5rem;
  justify-self: left;
  font-weight: 600;
  font-size: 0.875rem;
}
.pw-reset-form label:after{
  content:"*";
  position: absolute;
  font-size: 0.875rem;
  color: var(--secondary-color);
}
.pw-reset-form input {
  width: 100%;
  height: 2rem;
  padding: 0.25rem 1rem;
  border: 1px solid var(--dark-hover-color);
  color: var(--dark-hover-color);
  margin-bottom: 1rem;
}
.pw-reset-form p{
  margin-bottom: 1rem;
  font-size: 0.875rem;
  color: var(--dark-hover-color);
}
.pw-reset-btn{
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  border-radius: 3px;
  color: var(--light-font-color);
  background-color: var(--secondary-color);
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.pw-reset-signup-link {
  color: var(--login-highlight-color);
  font-size: 0.875rem;
}
.pw-reset-status{
  font-size: 0.875rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}