/* 
***************************
===========================
======== SIDE NAV =========
===========================
***************************
*/

.side-menu-overlay{
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 350px;
  opacity: 0;
  z-index: 5;
  background-color: var(--nav-color);
}
.show-menu {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 10;
}
.side-menu{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 9fr 1fr;
  gap: 1rem;
}
.side-nav-header{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  color: var(--light-font-color);
  padding: 3rem 0;
  display: grid;
  gap: 0.5rem;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.side-nav-header h1{
  color: var(--light-font-color);
  margin-bottom: 1rem;
}
.close-nav {
  position: absolute;
  top: 1.25rem;
  left: var(--page-side-padding);
  align-self: center;
  justify-self: flex-start;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
}
.close-nav svg{
  font-size: 1.5rem;
}
.subscribe-btn{
  background-color: var(--secondary-hover-color);
  border-radius: 3px;
  padding: 0.5rem;
  color: var(--light-font-color);
  font-weight: 600;
}
.side-nav-main{
  padding: 2rem var(--page-side-padding);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.side-nav-topic{
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem ;
  transition: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.side-nav-chevron{
  opacity: 0;
  position: absolute;
  right: 0;
}
.side-nav-topic:hover{
  background-color: var(--light-hover-color);
  border-radius: 15px;
  transition: none;
  cursor: pointer;
}
.side-nav-topic:hover .side-nav-chevron{
  opacity: 1;
  right: 1rem;
}
.side-nav-footer{
  padding: var(--page-side-padding);
}
.divider {
  width: 100%;
  height: 2px;
  background-color: var(--light-shadow-color);
}
.social-icons-container {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.social-icons-container p{
  font-weight: 600;
  color: var(--dark-shadow-color);
}
.social-icon {
  transition: none;
}
.social-icon svg{
  font-size: 1.2rem;
  color: var(--dark-shadow-color);
  transition: none;
}
.social-icon svg:hover{
  color: var(--secondary-color);
  transition: none;
}
.copyright{
  font-size: 0.75rem;
  color: var(--light-shadow-color);
}