/* 
***************************
===========================
========== HOME ===========
===========================
***************************
*/
main{
  width: 100vw;
  height: 100%;
  display: grid;
  justify-items: center;
  background-color: var(--background-color);
}
.max-width{
  width: 100%;
  max-width: var(--max-page-width);
}
.home-container{
  margin-bottom: 1rem;
  width: 100%;
  display: grid;
  justify-items: center;
}

.home-header{
  font-size: 1.4rem;
  margin: 0 var(--page-side-padding);
  justify-self: left;
}
.ad-container{
  width: 100%;
  height: 5rem;
  margin: 1rem 0;
  padding: 0 var(--page-side-padding);
  border: 1px solid;
}
.featured-container{
  padding: 1rem var(--page-side-padding);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 800px){
  .home-header{
    margin: 0;
    font-size: 2rem;
  }
  .featured-container{
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;
  }
  .ad-type-1{
    width: 920px;
    height: 250px;
    margin: 2rem 0;
  }
  .ad-type-2{
    width: 920px;
    height: 125px;
  }
}