/* 
***************************
===========================
======= SEARCH BAR ========
===========================
***************************
*/
.tempform{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
}
.search-box{
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: auto 30px;
  border: 1px solid transparent;
  border-radius: 20px;
  height: 2rem;
}
.show-search-box{
  transition: none;
  border: 1px solid var(--dark-shadow-color);
  box-shadow: 0px 5px 15px var(--light-shadow-color);
}
.search-input{
  visibility: hidden;
  opacity: 0;
  border: transparent;
  border-radius: 20px;
  max-width: 90px;
  padding: 0 0.5rem;
}
.show-search{
  visibility: visible;
  opacity: 1;
  border: transparent;
  border-radius: 20px;
}
.search-btn svg{
  color: var(--dark-shadow-color);
}
.search-bar:focus, .show-search-box:focus, .search-input:focus .show-search:focus {
  outline: none;
}
@media screen and (min-width: 600px){
  .search-input {
    max-width: 150px;
  }
}
@media screen and (min-width: 800px){
  .search-input {
    max-width: 100px;
  }
  .search-container{
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1000px){
  .search-input {
    max-width: 150px;
  }
}
