/* 
***************************
===========================
========= NAVBAR ==========
===========================
***************************
*/

#nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  max-width: 100%;
  height: var(--nav-bar-height);
  padding: 1rem var(--page-side-padding);
  background-color: var(--nav-color);
  display: flex;
  justify-content: center;
  z-index: 5;
  box-shadow: 0px 5px 15px var(--light-shadow-color);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--max-page-width);
}
.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hamburger-menu{
  max-width: 100%;
  max-width: 50px;
}
.hamburger-menu svg{
  font-size: 1.25rem;
}
.logo{
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  max-width: 100%;
  display: flex;
  align-items: center;
  vertical-align: center;
}
.logo-highlight{
  font-size: inherit;
  color: var(--secondary-color);
}
.nav-links-container{
  display: none;
}
.login-btn-container{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
}
.login-btn{
  width: 100px;
  max-width: 100%;
  height: 2rem;
  border: transparent;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--light-font-color);
  font-weight: 600;
  padding: 0 0.5rem;
  font-size: 0.875rem;
}
.login-btn:hover{
  background-color: var(--secondary-hover-color);
}
.personal-login-btn{
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 50%;
  text-transform: capitalize;
}

.search-container {
  display: none;
}


@media screen and (min-width: 600px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .nav-container .hamburger-menu {
    width: 100%;
  }
  .nav-container .logo {
    justify-self: flex-start;
    width: 100%;
  }
  .with-user {
    display: flex;
  }
  .search-container {
    display: block;
    min-width: 50px;
    width: 100%;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 800px) {
  .nav-container{
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 1fr;
  }
  .nav-left{
    justify-content: space-between;
    width: 100%;
  }
  .nav-left .logo {
    width: 300px;
  }
  .nav-right {
    width: 100%;
  }
  .hamburger-menu{
    display: none;
  }
  .nav-links-container{
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-link{
    display: block;
    margin: 0 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
  }
  .nav-link:hover{
    background-color: var(--background-color);
    border-radius: 3px;
    transition: none;
  }
  .logo{
    margin-left: 0;
  }
  
}
@media screen and (min-width: 1200px) {
  .nav-link{
    font-size: 1.25rem;
  }
  .logo{
    font-size: 2.5rem;
  }
}