:root{
  --nav-color: #fff;
  --background-color: #f0f0f0;
  --primary-color: rgb(28, 28, 28);
  --secondary-color: #DF202C;
  --secondary-hover-color:rgba(252, 79, 90, 0.968);
  --light-font-color: #f0f0f0;
  --light-hover-color: #ededed;
  --medium-font-color: #cbcbcb;
  --dark-font-color: #212121;
  --dark-hover-color: #454545d4;
  --light-shadow-color: #ebebebd4;
  --dark-shadow-color: #545454d4;
  --overlay-color: #0000006f;
  --login-highlight-color: #0052c6;
  --login-highlight-hover-color: #0063ed;
  --nav-bar-height: 5rem;
  --max-page-width: 1100px;
  --transition: all 0.3s ease-in-out;
  --page-side-padding: 1rem;

  --border: 1px solid;
}
* {
  margin: 0; 
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  transition: var(--transition);
}
h1, h2, h3, h4, h5, h6, p{
  color: var(--primary-color);
}
h1 {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
button {
  border: transparent;
  background-color: transparent;
}
button:hover{
  cursor: pointer;
}
body {
  background-color: var(--background-color);
  position: absolute;
  left: 0;
  top: var(--nav-bar-height);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* overflow-x: hidden; */
}
.display-none{
  display: none;
}






/* 
***************************
===========================
========= SUBPAGE =========
===========================
***************************
*/

.subpage-container{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.subpage-header, .subpage-main{
    padding: 0 var(--page-side-padding);
  }
.subpage-header {
  width: 100%;
  margin: 4rem 0 2rem;
}
.subpage-header h1{
  text-transform: capitalize;
  font-style: italic;
  color: var(--primary-color);
  font-weight: 800;
  margin: 2rem 0;
}
.subpage-header p {
  font-weight: 300;
  color: var(--primary-color);
}
.subpage-main{
  display: grid;
  grid-template-columns: 1fr;
}
.subpage-side-container{
  display: none;
}
.subpage-articles-container{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 2rem 0;
}
.subpage-articles{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 1rem 0;
}
.load-more-btn{
  margin: 4rem 0;
  height: 3rem;
}
.subpage-main-ad{
  display: block;
  margin: 2rem 0;
  width: 100%;
  height: 10rem;
  border: 1px solid;
}
.topic-page-post-container{
  width: 100%;
  background-color: var(--nav-color);
  border-radius: 3px;
  box-shadow: 0px 5px 15px var(--light-shadow-color);
}
.topic-page-post-image{
  position: relative;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 0;
}
.topic-page-post-image img{
  display: block;
  max-width: 100%;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transform: scale(1);
}
.topic-page-post-container:hover .post-image img{
  transform: scale(1.05);
}
.topic-page-text-container{
  padding: 1rem 0.5rem;
}
.topic-page-post-date{
  margin: 0.5rem 0;
  font-size: 0.75rem;
  color: var(--dark-font-color);
}
.topic-page-post-title{
  margin: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 800;
}
.topic-page-author-container{
  margin: 0.5rem 0;
  display: flex;
  width: 100%;
  align-items: center;
}
.topic-page-author-image-container{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 1rem;
}
.topic-page-author-image-container img{
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.topic-page-author-container p{
  font-size: 0.875rem;
}
@media screen and (min-width: 800px){
  .subpage-header, .subpage-main{
    padding: 0;
  }
  .subpage-header{
    margin: 2rem 0;
  }
  .subpage-main{
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 2rem;
  }
  .subpage-articles-container{
    margin: 0;
  }
  .subpage-articles{
    display: block;
    margin: 0;
  }
  .topic-page-post-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-height: 250px;
    margin: 1rem 0;
  }
  .topic-page-post-image{
    height: 250px;
    width: 250px;
    border-radius: 0;
  }
  .topic-page-post-image img{
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .topic-page-post-container:hover .topic-page-post-image img{
    transform: scale(1.05);
  }
  .topic-page-text-container{
    padding: 1rem 2rem;
  }
  .topic-page-post-content {
    margin: 1rem 0;
  }
  .topic-page-post-content p{
    color: var(--dark-font-color);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.4;
  }
  .subpage-side-container{
    display: block;
    margin: 1rem 0;
  }
  .subpage-subscribe{
    border: transparent;
    border-radius: 3px;
    background-color: var(--secondary-color);
    color: var(--light-font-color);
    padding: 2rem;
    display: grid;
    place-items: center;
  }
  .subpage-subscribe label {
    font-weight: 600;
  }
  .subpage-subscribe-input{
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 3px;
    border: transparent;
    width: 100%;
  }
  .subpage-subscribe p, .subpage-subscribe-terms{
    color: var(--light-font-color);
    font-size: 0.75rem;
  }
  .subpage-subscribe-terms{
    text-decoration: underline;
    text-transform: capitalize;
  }
  .subpage-subscribe-button{
    background-color: var(--dark-font-color);
    color: var(--light-font-color);
    text-align: center;
    padding: 0.5rem 2rem;
    margin: 2rem 0 1rem;
  }
  .subpage-side-ad{
    border: 1px solid;
    width: 100%;
    min-height: 500px;
    height: auto;
    display: block;
    margin: 2rem 0;
  }
}




